html .sidebar-menu {
  height: 100%;
}

.sidebar-menu {
  z-index: 1031;
  display: table-cell;
  position: fixed;
  background-color: $sidebar-bg;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 7%);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  padding: 1.5rem 0;
  overflow-x: auto;
  transition: all 0.4s ease 0s;
  right: auto;
  left: 0;
  width: 300px;
}

.sidebar-menu .sidebar-footer {
  margin: 1rem 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar-menu .sidebar-footer .menu-release {
  font-size: 0.7rem;
  font-weight: 600;
  color: $primary;
  text-align: end;
}

.nav-pills {
  margin: 0;
}

.sidebar-menu .nav-pills {
  border-radius: unset;
}

.nav-pills .nav-item ul {
  list-style: none;
  padding-left: 1rem;
  padding-top: 0.1rem;

  .nav-link {
    font-weight: 400;
    padding: 0 1rem;
  }
}

.sidebar-menu .nav-pills .nav-link {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
  color: $link-color;
  padding: 0.25rem 1rem;
  margin: 0 0.75rem;
  background-color: transparent;
}

.sidebar-menu .nav-pills .nav-link:hover {
  color: $link-color-hover !important;
  transition: all 0.3s ease-in-out;
}

.sidebar-menu .nav-pills .nav-link.active {
  font-weight: 600;
  color: $link-color-hover !important;
  background: $primary;
  background: linear-gradient(
    90deg,
    rgba($primary, 0.8) 0%,
    rgba($primary, 0.95) 40%,
    rgba($primary, 1) 100%
  );
}

.sidebar-menu .nav-pills .nav-link.active:hover {
  color: $link-color-hover;
}

.brand {
  display: flex;
  align-items: center;
  color: $primary;
  font-size: 1rem;
  text-decoration: none;
  margin: 0 auto;
}

.brand .brand-title {
  font-weight: 800;
  font-family: $font-family-serif;
  letter-spacing: 0.03rem;
  font-size: 1.1rem;
}

.nav .nav-item.disabled {
  transition: none;
}

.nav .nav-item.disabled *,
.nav .nav-item.disabled a {
  pointer-events: none;
  transition: unset !important;
  color: $disabled-text !important;
}

.sidebar-menu .nav .nav-item:not(.disabled):hover > a {
  color: $primary;
}
